body {
    background-color: #121212;
    color: white;
}

.sidebar {
    min-height: 100vh;
    background-color: #1c1c1c;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: #6f42c1;
}

.card-dark {
    background-color: #1e1e1e;
    color: white;
    border: none;
}

.task-card {
    background-color: #222;
    color: white;
    border-radius: 10px;
}